@page
@model LockoutModel
@{
    ViewData["Title"] = "Учетная запись заблокирована.";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Учетная запись заблокирована, попробуйте зайти позднее.</p>
</header>
