@page "/"

<PageTitle>Второй вариант</PageTitle>

<h1>Учет ремонтов</h1>

<ul>
  <li>
    Расчет прогнозной даты проведения ТО по наработке
  </li>
  <li>
    Безопасный интерфейс для взаимодействия с информационными системами подрядчиков
  </li>
  <li>
    Личный кабинет
  </li>
  <li>
    Анализ телеметрии для обнаружения «странного» поведения датчиков    
  </li>
  <li>
    Ролевая модель
  </li>
</ul>
