.page {
    display: grid;
    grid-template-areas:
        'header header'
        'menu   content';
    grid-template-columns: 200px 1fr;


    /*
    grid-template-rows: 5rem 1fr;
    */
}


main {
    grid-area: content;
}

.sidebar {
    grid-area: menu;
    /* background-image: linear-gradient(180deg, rgb(128, 128, 128) 0%, #33548a 70%);
    */
}

.top-row {
    grid-area: header;

    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;

    height: 3.5rem;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 600px) {
    .page {
        grid-template-areas:
            'header'
            'menu'
            'content'
            'footer';
        grid-template-columns: 1fr;
        grid-template-rows: 5rem auto 1fr 3rem;
    }
}