@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization


<PageTitle>SecondVariety</PageTitle>

<div class="page">

    <div class="top-row">
        <LoginDisplay />            
    </div>
<AuthorizeView Roles="Administrator, Manager, Worker">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <article class="content px-4">
            @Body
        </article>

        <RadzenDialog/>
        <RadzenNotification/>
        <RadzenContextMenu/>
        <RadzenTooltip/>
    </main>
</AuthorizeView>
</div>
